.wrapper {
    background-color: #23232a;
    transition: all 0.5s;
    .container-default-layout {
        // margin-top: var(--default-layout-header-height);
        // padding-top: 60px;
        // padding-top: 20px;
        background-color: #1a1a20;
        padding: 20px 0;
        height: auto;
        // .content {
        //     min-height: 100vh;
        // }
    }
}
.nav-bar {
    z-index: 999;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(
        90deg,
        rgba(114, 214, 245, 0.1),
        rgba(200, 193, 221, 0.1) 50%,
        rgba(255, 148, 179, 0.1)
    );
    transition: background linear 1s;
    &.sticky {
        background: linear-gradient(90deg, #000, #333 50%, #555);
        // position: fixed;
        // top: 0;
        // // transition: all linear 0.3s;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        // background-color: yellow;
    }
}
.onTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: #68686868;
    color: #cacaca;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: center;
    opacity: 1;
    transition: all 0.5s;
    &:hover {
        opacity: 0.8;
        background: rgba(8, 8, 8, 0.9);
    }
}
